# WiFi
WIFI_SSID=MyWiFi
WIFI_PASSWORD=MyWiFiPassword

# MULTI-WiFi SUPPORT
WIFI_SSID2=MyOtherWiFi
WIFI_PASSWORD2=MyWiFiPassword

# SUGGESTION: ADD PHONE HOT SPOT HERE
WIFI_SSID3=MyPhoneHotSpot
WIFI_PASSWORD3=MyWiFiPassword

# yo SERVER
BACKEND_TCP_HOST=192.168.1.123
BACKEND_TCP_PORT=12345
